@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(./header.css);
@import url(./footer.css);
@import url(./banner.css);
@import url(./novidades.css);
@import url(./selecao__pets.css);

:root {
    --verde-principal: #329583;
    --verde-claro: #7DFDD5;
    --verde-escuro: #3C8779;
    --verde-muito-escuro: #0A3431;
    --branco: #ffffff;
    --preto: #000000;
    --fonte-principal: "Inter";
}
* {
    margin: 0;
    padding: 0;
}