@import url(./header.css);
@import url(./footer.css);
@import url(./main.css);

:root {
    --verde-principal: #329583;
    --verde-claro: #7DFDD5;
    --verde-escuro: #3C8779;
    --verde-muito-escuro: #0A3431;
    --branco: #ffffff;
    --preto: #000000;
    --fonte-principal: "Inter";
}
* {
    margin: 0;
    padding: 0;
}